extends layout

block content
    div(id="adminEdit")
        p admin
        form(id='form', method='post', action='/AdminEdit/' + person.id)
            label(for='userName') Username: 
            br
            input(type='text', name="userName", class="createForm", required placeholder="Enter username...", value=person.userName)
            br
            br
            label(for='pass') Password: 
            br
            input(type='text', name='pass', class="createForm", required placeholder="Enter password...")
            br
            br
            label(for='type') Account Type: 
            br
            select(name='type', class='createForm')
                option(value='User') User
                option(value='Admin') Admin
            br
            br
            label(for='email') Email: 
            br
            input(type='text', name='email', class="createForm", required placeholder="example@netscape.com", value=person.email)
            br
            br
            label(for='age') Age: 
            br
            input(type='text', name='age', class="createForm", required placeholder="Enter age...", value=person.age)
            br
            br
            p(id='instruction') Please select an answer for ALL questions.
            br
            label(for='answer1') What is your favorite pizza topping? 
            br
            select(name='answer1', class='createForm')
                option(value='filler', disabled='disabled', selected) Choose One
                option(value='Pepperoni') Pepperoni
                option(value='Mushrooms') Mushrooms
                option(value='Anchovies') Anchovies
                option(value='Sausage') Sausage
                option(value='Cheese') Cheese
            br
            br
            label(for='answer2') How likely are you to return to this website? 
            br
            select(name='answer2', class='createForm')  
                option(value='filler', disabled='disabled', selected) Choose One
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5   
            br
            br
            label(for='answer3') What is your favorite sport? 
            br
            select(name='answer3', class='createForm')   
                option(value='filler', disabled='disabled', selected) Choose One
                option(value='Soccer') Soccer
                option(value='Football') Football
                option(value='Baseball') Baseball
                option(value='Hockey') Hockey
                option(value='Basketball') Basketball
            br
            br
            input(type='submit', value='Edit User', class='subBut')
    
