extends layout


block content
  div(id="userData")
    t
      tc username|
      tc password|
      tc first name|
      tc last name|
      tc email|
      tc age|
      tc answer1|
      tc answer2|
      tc answer3|
      tc|
      tc|
        
