extends layout

block content
    div(id="input")
        p User Input data stuff goes here
        form(id='form', method='post', action='/CreateAccount')
            label(for='userName') Username:
            input(type='text', name="userName", class="createForm", required placeholder="Enter username...")
            br
            br
            label(for='pass') Password:
            input(type='text', name='pass', class="createForm", required placeholder="Enter password...")
            br
            br
            label(for='email') Email:
            input(type='text', name='email', class="createForm", required placeholder="example@netscape.com")
            br
            br
            label(for='age') Age:
            input(type='text', name='age', class="createForm", required placeholder="Enter age...")
            br
            br
            label(for='answer1') First Answer:
            input(type='text', name='answer1', class="createForm", required placeholder="Type answer here...")
            br
            br
            label(for='answer2') Second Answer:
            input(type='text', name='answer2', class="createForm", required placeholder="Type answer here...")
            br
            br
            label(for='answer3') Third Answer:
            input(type='text', name='answer3', class="createForm", required placeholder="Type answer here...")
            br
            br
            input(type='submit', value='Add User')
    
