extends layout


block content
  
  div(id='homeContent')
      h5 Which pizza topping is your favorite?
      canvas(id='canvas1', width='300', height='200')
      br
      br
      h5 How likely are you to return to this website?
      canvas(id='canvas2', width='300', height='200')
      br
      br
      h5 Which sport is your favorite?
      canvas(id='canvas3', width='300', height='200')


  p
  #menu
    a(href='/CreateAccount') Add New User
    a(href='/Logout') Logout