doctype html
html
    head
        title=title
        link(href='style.css', rel='stylesheet')
    body
        header
            nav
                ul
                    each item in config.menu
                        li(id="pages")
                            a(href=item[1]) #{item[0]}
        h3=title
        block content
    footer
