doctype html
html
    head
        title=title
        link(href='style.css', rel='stylesheet')
    body
        header
            nav
                ul
                    each item in config.menu
                        li(id="pages")
                            a(href=item[1]) #{item[0]}
        h3=title
        block content
    footer
    script var answers1
    script var answers2
    script var answers3
    script(src='my_script.js')
