html {
    background-color: #3C4957;
}

body {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: white;
/*    background-color: #eeb;*/
    align-content: center;
    margin: 1% 20% 0 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B898F;
    border-radius: 25px;
    font-size: 17px;
}

#pages {
    float: left;
    border-right: 1px solid #bbbbbb;
}

#pages:last-child {
    border-right: none;
    border-left: 1px solid #bbbbbb;
    float: right;
}

#pages a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#pages a:hover {
    background-color: #bbc;
}

li {
    list-style-type: none;
}

#homeContent {
    text-align: center;
}

#title {
    font-size: 30px;
    text-align: center;
    margin: 5% 0 5% 0;
}

#login {
    text-align: center;
}

.signIn {
    font-size: 15px;
    border-radius: 25px;
    outline: none;
    padding: 2px 10px 2px 10px;
}

.subBut {
    font-size: 15px;
    margin-top: 2%;
}

#input, #adminEdit, #editinput {
    font-size: 15px;
    text-align: center;
}

/*
#input label {
    float: left;
}
*/

.createForm {
    width: 30%;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
    outline: none;
}

canvas {
  background: white;
}

table.detailGrid {
    color: #337;
    border-width: 1px;
    border-color: #559;
    border-collapse: collapse;
}

table.detailGrid th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #ccf;
}

table.detailGrid td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #fff;
}